<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a>

  Welcome {{.}}

</body>
</html>
